.side-menu {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1%;
    text-align: center;
    flex-wrap: nowrap;
    font-family: var(--serif-font);
    position: relative;
}

.side-menu-tab {
    cursor: pointer;
    width: 33%;
}

.active-line {
    display: block;
    height: 5px;
    width: 33%;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
}